{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="small-12 columns">
        <h3 class="subheader">About</h3>
        <p>
          Calvin Web Print is the result of a semester-long student project. The goal was to make a friendlier interface to the printing system at Calvin College. The website went live on December 10, 2015, and since then we have attracted many users, received a lot of positive feedback from students, and even got a <a href="http://www.calvin.edu/chimes/2015/03/05/student-website-simplifies-printing-process-for-students/">write-up</a> in Calvin's student newspaper Chimes. The website is currently activley maintained by James Lamine and Tyler VanZanten.
        </p>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="small-12 columns">
      <h4>Contact</h4>
      <p>
        For all fan mail, hate mail, and other sorts of mail, send an email to <a href="mailto:calvinwebprint@gmail.com">calvinwebprint@gmail.com</a>.
        Seriously though, if you have a suggestion for making our site better or if you spot an error, please send us an email.
      </p>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="small-12 columns">
      <h4>Contribute</h4>
      <p>
        There are a number of features we would like to add to our site. You can help make them a reality by contributing to our <a href="https://github.com/jglamine/calvinwebprint">GitHub repository</a>.
      </p>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="small-12 columns">
      <h4>FAQ</h4>
      <p>
        Q: What types of files can I print?
        <br />
        A: Word documents, PDFs, OpenOffice documents (.odt), and picture files. We recommend PDFs for best results in maintaining page layout.
      </p>
      <p>
        Q: I printed a document two days ago, but it’s no longer in my queue. What happened to it?
        <br />
        A: Files are automatically removed from your queue after 24 hours.
      </p>
      <p>
        Q: The printers can staple my documents?
        <br />
        A: Yes, the <span class="small-caps">mfd</span>s have that cability.
        The large printer/copier combo machines are called <span class="small-caps">mfd</span>s.
      </p>
      <p>
        Q: Why can’t I print my document double-sided and stapled?
        <br />
        A: We disallow it because the pages of double-sided documents get stapled out of order.
      </p>
      <p>
        Q: I am about to print more than one copy of a document and I see the option for collate. What does collate mean?
        <br />
        A: Refer to the <a href="http://www.formaxprinting.com/blog/tag/what-is-collated-printing/" target="_blank">diagrams on this page</a>.
      </p>
      <p>
        Q: Are you endorsed by CIT (Calvin Information Technology)?
        <br />
        A: No, but they have been supportive of this project.
      </p>
      <p>
        Q: When will the story of Calvin Web Print be made into a movie directed by David Fincher? 
        <br />
        A: Hopefully soon. We’re big fans of his work.
      </p>
      <p>
        Q: When I swipe my card at the printer, I see the error message “PC Load Letter”. What does that mean?
        <br />
        A: We have no idea.
      </p>
    </div>
  </div>
  <hr />

{% endblock %}
