<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      <title>{{ title }} - Calvin Web Print</title>
    {% else %}
      <title>Calvin Web Print</title>
    {% endif %}
    <link rel="stylesheet" href="static/css/foundation.min.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <script src="static/js/libs/jquery-1.10.2.min.js"></script>
    <script src="static/js/libs/handlebars.min.js"></script>
    <script src="static/js/libs/modernizr.js"></script>
    <meta name="description" content="A friendlier interface to the printing system at Calvin College. Simply upload files to send them to UniFLOW!">
  </head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Calvin Web Print</a></h1>
      </li>
    </ul>
  </nav>
  
  <div id="ember">
    {% block content %}{% endblock %}
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="inline-list footer">
        <li><a href="about">About</a></li>
        <li><a href="https://github.com/jglamine/calvinwebprint">Fork me on Github <i class="fa fa-code-fork"></i> </a></li>
      </ul>
    </div>
  </div>
  <hr />

  <script src="static/js/libs/foundation.min.js"></script>
  <script src="static/js/libs/ember.min.js"></script>
  <script src="static/js/libs/moment.min.js"></script>
  <script src="static/js/libs/jquery.cookie.min.js"></script>
  <script src="static/js/libs/lodash.compat.min.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
